<mat-card>
  <mat-card-title>Payment Plan</mat-card-title>
  <mat-card-content>
    <form [formGroup]="prepaymentPlanForm">
      <p>
        <mat-form-field class="full-width">
          <mat-label>Prepayment Amount:</mat-label>
          <span matPrefix>$ &nbsp;</span><input matInput id="mortgage-amount" type="text"
            formControlName="prepaymentAmount">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width">
          <mat-label>Prepayment Frequency:</mat-label>
          <mat-select formControlName="prepaymentFrequency">
            <mat-option *ngFor="let frequency of prepaymentFrequencies" [value]="frequency">{{frequency}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width">
          <mat-label>Start With Payment:</mat-label>
          <input matInput id="payment" type="text" formControlName="payment">
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
</mat-card>
