.full-width {
  width: 100%;
}
mat-card {
  border: 1px solid #2572b4;
  padding: 0px;
}

mat-card-title {
  background-color: #2572b4;
  padding: 20px;
  color: white;
  border: 0px;
}

mat-card-content {
  padding: 10px;
}
